

/* css reset small */
*{
  margin: 0;
  padding: 0;
}
*, *::after, *::before{
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(255, 191, 202), rgb(255, 101, 126), rgb(152, 79, 248));
  height: 100vh;
}

.container {
  background: white;
  width: 900px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 50px 3px black;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.cat-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cat-image img {
  width: 500px;
  
}

.container-facts {
  background-color: rgb(214, 169, 255);
  height: 300px;
  width: 500px;
  border-radius: 5px;
  margin: 1rem;




}


